<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<form action="/edit/:id" method="POST" id="form-container">

   <label for="name">Name</label>
  <input id="name" type="text" name="name" placeholder="Your name">
  
  <br><br>

   <label for="birthdate">Birthdate</label>
  <input id="birthdate" type="date" name="birthdate" placeholder="Your birthdate">
  <br>
  {{#if message }}
    <div class="error-message">{{ message }}</div>
  {{/if}}

  <br><br>

  <button>Edit user</button>

 
</form>
