.searchbar-component{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.searchbar-field{
    width: 80vw;
    height: 30px;
  
}