.users-list-component{
    position:relative;
    margin-top: 17vh;
}
.users-list{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-user-container{
    position:fixed;
    bottom: 20px;
    right: 20px;
    background-color: #5EDBC7;
    height: 65px;
    width: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 4px 4px 5px black;
}

.add-user-logo{
    height: 40px;
}